# http://editorconfig.org

root = true

[*]
insert_final_newline = true
trim_trailing_whitespace = true
end_of_line = lf
charset = utf-8
indent_style = space

[*.js]
indent_size = 4

[*.py]
indent_size = 4
max_line_length = 100

[*.html]
indent_size = 2

[.travis.yml]
indent_size = 2

[Makefile]
indent_style = tab
