Flask==0.9
Flask-SQLAlchemy==0.16
Flask-Script==0.3.3
Jinja2==2.6
SQLAlchemy==0.7.8
Werkzeug==0.8.3
gunicorn==0.14.5
ipython==0.13
wsgiref==0.1.2
sqlalchemy-migrate==0.7.2
bleach==1.1.4
-e git://github.com/mozilla/PyBrowserID.git@3b6304c54dbc37c7d888885abab0798228db4c11#egg=PyBrowserID

psycopg2
nose
