{% macro projects_menu(projects, selected=None) %}
  <div class="box">
    <h2>Projects:</h2>
    <ul class="menu">
      {% for project in projects %}
      <li>
        <a {% if project == selected %}class="selected"{% endif %} href="{{ url_for('project', slug=project.slug) }}">
          {{ project.name }}
        </a>
      </li>
      {% endfor %}
    </ul>
  </div>
{% endmacro %}

{% macro teams_menu(teams, selected=None) %}
  <div class="box">
    <h2>Teams:</h2>
    <ul class="menu">
      {% for team in teams %}
      <li>
        <a {% if team == selected %}class="selected"{% endif %} href="{{ url_for('team', slug=team.slug) }}">
        {{ team.name }}
        </a>
      </li>
      {% endfor %}
    </ul>
  </div>
{% endmacro %}

{% macro users_menu(users, selected=None) %}
  <div class="box">
    <h2>People:</h2>
    <ul class="menu">
      {% for user in users %}
      <li>
        <a {% if user == selected %}class="selected"{% endif %} href="{{ url_for('user', slug=user.slug) }}">
        {{ user.name }}
        </a>
      </li>
      {% endfor %}
    </ul>
  </div>
{% endmacro %}

{% macro show_statuses(statuses, show_project=True, show_user=True) %}
  {% for status in statuses %}
    {% if status.created.date() != last_created %}
      {% if last_created %}</ul>{% endif %}
      {% set last_project = None %}
      {% set last_user = None %}
      {% set last_created = status.created.date() %}
      <h3><span>{{ last_created|dateformat('%A, {S} %B %Y') }}</span></h3>
      <ul class="status-updates">
    {% endif %}
    {% if status.user.username != last_user %}
      {% set last_project = None %}
      {% set last_user = status.user.username %}
      <li>
        {% if show_user %}
          <a class="user-meta" href="{{ url_for('user', slug=status.user.slug) }}">
            <img class="gravatar" src="{% if status.user.email %}{{ status.user.email|gravatar_url }}{% else %}{{ 'None'|gravatar_url }}{% endif %}" alt="">
            {{ last_user }}
          </a>
        {% endif %}
    {% else %}
      <li class="squashed">
    {% endif %}
      <div class="post-meta">
        <div class="post-time">{{ status.created|dateformat('%-I:%M %p')|lower }}</div>
        {% if status.project.name != last_project %}
          {% set last_project = status.project.name %}
          {% if show_project %}
            <a class="project-name" href="{{ url_for('project', slug=status.project.slug) }}">
              {{ status.project.name }}
            </a>
          {% endif %}
        {% endif %}
      </div>
      {{ status.content_html }}
    </li>
  {% endfor %}
  {% if statuses %}</ul>{% endif %}
{% endmacro %}

{% macro user_banner(user) %}
  <a class="user-banner" href="{{ url_for('user', slug=user.slug) }}">
    <img class="gravatar" src="{% if user.email %}{{ user.email|gravatar_url }}{% else %}{{ 'None'|gravatar_url }}{% endif %}" alt="">
    {{ user.username }}
  </a>
{% endmacro %}

{% macro date_range(url, dates=None) %}
  <div class="date-filter cf">
    <ul>
      <li><a  class="{% if not dates %}selected{% endif %}" href="{{ url }}">Today</a></li>
      <li><a class="{% if dates == '7d' %}selected{% endif %}" href="{{ url }}?dates=7d">Last 7 days</a></li>
      <li><a class="{% if dates == 'all' %}selected{% endif %}" href="{{ url }}?dates=all">All</a></li>
    </ul>
  </div>
{% endmacro %}
