{% macro comments(statuses, page=1, url='/') %}
  {% if statuses.items %}
    <ul class="comments cf">
      {% for status in statuses.items %}
        <li class="cf">
          {{ status.content }}
          <div class="meta">
            <a href="{{ url_for('user', slug=status.user.slug) }}">
              <img class="gravatar" src="{% if status.user.email %}{{ status.user.email|gravatar_url(size=22) }}{% else %}{{ 'None'|gravatar_url(size=60) }}{% endif %}">
            </a>
            <a href="{{ url_for('user', slug=status.user.slug) }}">{{ status.user.name }} (@{{ status.user.username }})</a>
            {{ status.created|dateformat('%A, {S} %B %Y at %-I:%M %p') }}
          </div>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <div class="notice">There are no comments.</div>
  {% endif %}
{% endmacro %}

{% macro status_updates(statuses, page=1, url='/') %}
  {% for status in statuses.items %}
    {% if (status.user.username != last_user or last_date != status.created.date()) and not loop.first %}
          </ul>
        </div>
      </div>
    {% endif %}

    {% if last_date != status.created.date() %}
      {% set last_date = status.created.date() %}
      {% set last_user = None %}
      <div class="grid_8 alpha omega prefix_4">
        <h3>
          <a href="?day={{ status.created.date()|dateformat('%Y-%m-%d') }}">
            {% if status.created.date() == today%}
              Today
            {% elif status.created.date() == yesterday %}
              Yesterday
            {% else %}
              {{ status.created.date()|dateformat('%A, {S} %B %Y') }}
            {% endif %}
          </a>
        </h3>
      </div>
    {% endif %}

    {% if status.user.username != last_user %}
      {% set last_user = status.user.username %}
      <div class="status-block cf">
        <div class="user-meta grid_3 alpha">
          <h4><a href="{{ url_for('user', slug=status.user.slug) }}">{{ status.user.name }}</a></h4>
          <a href="{{ url_for('user', slug=status.user.slug) }}">@{{ status.user.username }}</a>
        </div>
        <div class="grid_1">
          <a href="{{ url_for('user', slug=status.user.slug) }}">
            <img class="gravatar" src="{% if status.user.email %}{{ status.user.email|gravatar_url(size=60) }}{% else %}{{ 'None'|gravatar_url(size=60) }}{% endif %}">
          </a>
        </div>
        <div class="grid_8 omega">
          <ul class="bubble">
    {% endif %}
            <li class="cf">
              <div class="update">{{ status.content_html|format_update(status.project)|safe|urlize|markdown }}</div>
              <div class="update-meta">
                <a class="post-time" href="{{ url_for('status', id=status.id) }}">
                  <time datetime="{{ status.created|dateformat('%Y-%m-%dT%H:%M:%SZ') }}">
                    {{ status.created|dateformat('%-I:%M %p') }}
                  </time>
                </a>

                <a href="{{ url_for('status', id=status.id) }}" class="comment-count">{{ status.replies().items|length }}</a>

                {% if status.project %}
                  <a class="project-name"
                     style="{% if status.project.color %}background-color: #{{ status.project.color }}; color: #{{ status.project.color }};{% endif %}"
                     href="{{ url_for('project', slug=status.project.slug) }}">
                    {{ status.project.name }}
                  </a>
                {% endif %}
              </div>
            </li>
    {% if loop.last %}
          </ul>
        </div>
      </div>
    {% endif %}
  {% endfor %}
  {% if not statuses.items %}
    <div class="notice">No status updates available.</div>
  {% endif %}
  {% if statuses.has_prev or statuses.has_next %}
    <div class="grid_8 prefix_4 pagination cf">
      {% if statuses.has_prev %}
        <a class="btn big prev" href="{{ url }}?page={{ page - 1 }}">Newer &raquo;</a>
      {% endif %}
      {% if statuses.has_next %}
        <a class="btn big next" href="{{ url }}?page={{ page + 1 }}">&laquo; Older</a>
      {% endif %}
    </div>
  {% endif %}
{% endmacro %}
