{% extends "base.html" %}

{% if request.user.is_active %}
{% set title = "Sign out" %}
{% else %}
{% set title = "Sign in" %}
{% endif %}

{% block more_styles %}
  <link href="{{ static('css/user.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block title %}{{ title }} | {{ super() }}{% endblock %}

{% block before_content %}{% endblock %}
{% block content %}
  <div class="grid_12 banner">
    <h1>{{ title }}</h1>
  </div>

  <div class="grid_12">
    {% if request.user.is_active %}
      <p>
        You are currently signed in as <b>{{ request.user.email }}</b>.
      </p>
    {% else %}
      <p>
        When you sign in, sign in using the identity you used last time.
      </p>
      <p>
        If you're a Mozilla employee and have an LDAP account, you need to sign
        in using that.
      </p>
      <p>
        If you accidentally create a second account on Standups, we can merge it.
        {% if settings.HELP_FAQ_URL %}
          See our <a href="{{ settings.HELP_FAQ_URL }}">FAQ</a> for more details.
        {% endif %}
      </p>
      <div class="signin-link">
        <a href="{{ url('oidc_authentication_init') }}"><button class="btn login-button">Sign in to Standup</button></a>
      </div>
    {% endif %}

    {% if settings.HELP_FAQ_URL %}
      <p>
        If you have problems signing in, please check out
        <a href="{{ settings.HELP_FAQ_URL }}">our FAQ</a>.
      </p>
    {% endif %}
  </div>
{% endblock %}
