{% extends "base.html" %}

{% block title %}Sign in | {{ super() }}{% endblock %}

{% block before_content %}{% endblock %}
{% block content %}
  <div class="grid_12"><h1>Sign in</h1></div>

  <div class="box content-box">
    <h2>Github</h2>
    <p>
      You can log in using your <a href="https://github.com">Github</a> account.
    </p>
    <p>
      <a class="login-button github blue" href="{{ url('social:begin', 'github') }}">
        <span>Sign in with Github</span>
      </a>
    </p>
  </div>
{% endblock %}
