{% extends "base.html" %}

{% block more_styles %}
  {% stylesheet 'profile' %}
{% endblock %}

{% block title %}
  Profile | @{{ request.user.profile.slug or request.user.username }} | {{ super() }}
{% endblock %}

{% block before_content %}{% endblock %}
{% block content %}
  <div class="grid_12 banner">
    {% if new_profile %}
      <h1>Welcome to Standup!</h1>
      <p>
        Before you can start kicking it with your peeps on Standup, you must
        create a profile.
      </p>
    {% else %}
      <h1>Your profile</h1>
    {% endif %}
  </div>
  <div class="grid_6 prefix_3 suffix_3">
    <form action="{{ url('users.profile') }}" method="post">
      {% csrf_token %}
      <label for="email">Email Address</label>
      <div class="fake-input disabled">{{ request.user.email }}</div>
      {% for field in form %}
        {% for error in field.errors %}
          <span class="error">{{ error }}</span>
        {% endfor %}
        {{ field.label }}
        {{ field }}
      {% endfor %}
      <button type="submit" class="btn">Save changes</button>
    </form>
  </div>
{% endblock %}
