{% from 'includes/macros.html' import status_updates with context %}

{% extends "base.html" %}

{% set styles = ('profile',) %}

{% block title %}
  Profile | @{{ current_user.username }} | Standup
{% endblock %}

{% block content %}
  <div class="grid_12 banner">
    <h1>Your profile</h1>
  </div>
  <div class="grid_6 prefix_3 suffix_3">
    <form action="{{ request.path }}" method="post">
      {{ csrf()|safe }}
      {% for field in form %}
        {% if not field.type == 'HiddenField' or field.name == 'email' %}
          {% for error in field.errors %}
            <span class="error">{{ error }}</span>
          {% endfor %}
          {{ field.label }}
        {% endif %}
        {% if field.name == 'email' %}
          <div class="fake-input disabled">{{ field.data }}</div>
        {% endif %}
        {{ field }}
      {% endfor %}
      <button type="submit" class="btn">Save changes</button>
    </form>
  </div>
{% endblock %}
