{% extends "base.html" %}
{% from 'includes/macros.html' import status_updates with context %}

{% block title %}
  Team: {{ team.name }} | {{ super() }}
{% endblock %}

{% block content %}
  <div>
    <div class="grid_4 alpha"></div>
    <div class="grid_7 middle" >
      <h2>Team: {{ team.name }}</h2>
      <p>
        Members:
        {% for u in team.users.all() %}
          <a href="{{ u.get_absolute_url() }}">{{ u.name }}</a>
        {% endfor %}
      </p>
    </div>
  </div>
  <div class="grid_12">
    {{ status_updates(statuses, url=url('status.team', slug=team.slug)) }}
  </div>
{% endblock %}

{% block atom_feed %}
  <link rel="alternate" type="application/atom+xml" href="{{ url('status.team_feed', slug=team.slug) }}" title="{{ settings.SITE_TITLE }} Feed for {{ team.name }} team" />
{% endblock atom_feed %}
