{% from 'includes/macros.html' import status_updates with context %}
{% from 'includes/macros.html' import statusize with context %}

{% extends "base.html" %}

{% block title %}
  @{{ user.username }} | {{ settings.SITE_TITLE }}
{% endblock %}

{% block before_content %}
  {% if 'user_id' in session %}
    {{ statusize() }}
  {% endif %}
{% endblock %}

{% block content %}
  <div class="grid_12">
    {{ status_updates(statuses, url=url('status.user', slug=user.username)) }}
  </div>
{% endblock %}

{% block atom_feed %}
  <link rel="alternate" type="application/atom+xml" href="{{ url('status.user_feed', slug=user.slug) }}" title="{{ settings.SITE_TITLE }} Feed for {{ user.username }}" />
{% endblock atom_feed %}
