{% extends "base.html" %}

{% from 'includes/macros.html' import status_updates with context %}
{% from 'includes/macros.html' import statusize with context %}

{% block title %}
  @{{ suser.username }} | {{ settings.SITE_TITLE }}
{% endblock %}

{% block before_content %}
  {% if 'user_id' in session %}
    {{ statusize() }}
  {% endif %}
{% endblock %}

{% block content %}
  <div class="grid_12">
    {{ status_updates(statuses, url=suser.get_absolute_url()) }}
  </div>
{% endblock %}

{% block atom_feed %}
  <link rel="alternate" type="application/atom+xml" href="{{ url('status.user_feed', slug=suser.slug) }}" title="{{ settings.SITE_TITLE }} Feed for {{ suser.username }}" />
{% endblock atom_feed %}
