{% extends "base.html" %}

{% block before_content %}{% endblock %}
{% block content %}
  <div class="grid_8">
    <h1>Help!</h1>

    <div class="box content-box">
      <h2>Clients</h2>
      <p>
        You can use Standup with any officially certified Standup client!
      </p>
      <ul>
        <li><a href="https://github.com/mythmon/standup-irc">standup-irc</a>
        <li>A client you write!
      </ul>
    </div>

    <div class="box content-box">
      <h2>In-context help</h2>
      <p>
        !help to your irc bot will get you a list of commands, including how to make and join teams.
      </p>
    </div>

    <div class="box content-box">
      <h2>Status message syntax</h2>
      <p>
        Standup supports the following syntax in status messages:
      </p>

      <dl>
        <dt><code>#hashtags</code></dt>
        <dd>
          Just like other social media services, Standup supports hashtags!
          Some hashtags have special meaning. All hashtags get re-printed at the
          beginning of your status message.
        </dd>

        <dt><code>bug #n</code> and <code>bug n</code></dt>
        <dd>
          Will linkify this to the Mozilla Bugzilla url.
        </dd>

        <dt><code>pull #n</code> and <code>pull n</code></dt>
        <dd>
          Linkifies pull requests to their project-specific pull url.
        </dd>
      </dl>
    </div>
  </div>
{% endblock %}
