<!doctype html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <title>{% block title %}{% endblock %}</title>
  <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/favicon.png') }}" />
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/normalize.css') }}">
  <link rel="stylesheet/less" type="text/css" href="{{ url_for('static', filename='less/style.less') }}">
  <script src="{{ url_for('static', filename='js/less.js') }}"></script>
  <script src="{{ url_for('static', filename='js/jquery-1.7.2.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/standup.js') }}"></script>
</head>
<body>
  <header>
    <div class="container_8">
      <div class="grid_2">
        <a class="logo" href="{{ url_for('index') }}">standup</a>
      </div>
      <div class="grid_6">
        <nav>
          <ul>
            <li><a href="#">Admin</a></li>
            <li><a href="{{ url_for('help') }}">Help</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </header>

  <div class="container_8 cf">
    {% block content %}{% endblock %}
    <div class="grid_8">
      <footer>
        <a href="https://github.com/rlr/standup">Contribute to this site.</a>
        <br>Found a bug? <a href="https://github.com/rlr/standup/issues">File an issue!</a>
      </footer>
    </div>
  </div>
</body>
</html>
