<!doctype html>
<html class="no-js">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <title>{% block title %}{% endblock %}</title>
  <meta name="description" content="Daily standup updates for your projects.">
  <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/favicon.png') }}" />
  {{ css('common') }}
  {% for style in styles %}
    {{ css(style) }}
  {% endfor %}
  <link rel="alternate" type="application/atom+xml" href="{{ config.SITE_URL + url_for('status.index_feed') }}" title="{{ config.SITE_TITLE }} Feed" />
  {% block atom_feed %}{% endblock atom_feed %}
  <script src="https://login.persona.org/include.js"></script>
  <script src="{{ url_for('static', filename='js/vendor/modernizr-2.6.1.js') }}"></script>
</head>
<body>
  <div class="page">
  <header>
    <div class="container_12">
      <div class="grid_2">
        <a class="logo" href="{{ url_for('status.index') }}">{{ config.SITE_TITLE }}</a>
      </div>
      <div class="grid_10">
        <nav>
          <ul>
            {% if teams %}
              <li>
                <a href="#">Teams</a>
                <ul>
                  {% for team in teams %}
                  <li>
                    <a {% if team == selected %}class="selected"{% endif %} href="{{ url_for('status.team', slug=team.slug) }}">
                    {{ team.name }}
                    </a>
                  </li>
                  {% endfor %}
                </ul>
              </li>
            {% endif %}
            <li>
              <a href="#">Projects</a>
              <ul>
                {% for project in projects %}
                <li>
                    <a {% if project == selected %}class="selected"{% endif %} href="{{ url_for('status.project', slug=project.slug) }}">
                    {{ project.name }}
                    </a>
                  </li>
                  {% endfor %}
                </ul>
              </li>
              {% if weeks %}
              <li>
              <a href="{{ url_for('status.weekly') }}">Weekly</a>
              <ul>
                {% for week in weeks %}
                <li>
                  <a href="{{ url_for('status.weekly', week=week.start_date.date()|dateformat('%Y-%m-%d')) }}">
                   {{week.start_date.date()|dateformat('%b %d')}} to {{ week.end_date.date()|dateformat('%b %d %Y') }}
                  </a>
                </li>
                {% endfor %}
              </ul>
              </li>
              {% endif %}
              <li>
                {% if not 'user_id' in session %}
                  <a href="#" id="login">Sign in with Persona</a>
                {% else %}
                  <a href="#" id="user-menu">
                    <img src="{{ current_user.email|gravatar_url(size=22) }}" alt="">
                  </a>
                  <ul>
                    <li><a href="{{ url_for('users.profile') }}">Profile</a></li>
                    <li><a href="#" id="logout">Sign out</a></li>
                  </ul>
                {% endif %}
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </header>

    <div id="main-content" class="container_12 cf">
      <div id="main-notices" class="grid_12">
        {% with notices = get_flashed_messages(with_categories=True) %}
          {% if notices %}
            {% for category, notice in notices %}
              <div class="notice {{ category }}">{{ notice }}</div>
            {% endfor %}
          {% endif %}
        {% endwith %}
        {% block notices %}

        {% endblock %}
      </div>
      {% block before_content %}{% endblock %}
      {% block content %}{% endblock %}
      {% block after_content %}{% endblock %}
    </div>

    <footer>
      <div class="container_12 cf">
        <div class="grid_1">
          <img src="{{ url_for('static', filename='img/logo-grey.png') }}" alt="">
        </div>
        <div class="grid_5">
          Standup is a neat little app that helps to organize and publish
          asynchronous status updates.
        </div>
        <div class="grid_6">
          <nav>
            <ul>
              <li><a href="{{ url_for('landings.help') }}">Help &amp; FAQ</a></li>
              <li><a href="https://github.com/rlr/standup/issues">Report a bug</a></li>
              <li><a href="https://github.com/rlr/standup">Contribute</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </footer>
  </div>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="{{ url_for('static', filename='js/vendor/jquery-1.9.1.min.js') }}"><\/script>')</script>

  {{ js('common') }}
</body>
</html>
