<!doctype html>
<html class="no-js">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <title>{% block title %}{% endblock %}</title>
  <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/favicon.png') }}" />
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/normalize.css') }}">
  <link rel="stylesheet/less" type="text/css" href="{{ url_for('static', filename='less/style.less') }}">
  <script src="https://login.persona.org/include.js"></script>
  <script src="{{ url_for('static', filename='js/modernizr-2.6.1.js') }}"></script>
  <script src="{{ url_for('static', filename='js/less.js') }}"></script>
  <script src="{{ url_for('static', filename='js/jquery-1.8.2.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/standup.js') }}"></script>
</head>
<body>
  <div class="page">
  <header>
    <div class="container_12">
      <div class="grid_2">
        <a class="logo" href="{{ url_for('status.index') }}">{{ config.SITE_TITLE }}</a>
      </div>
      <div class="grid_10">
        <nav>
          <ul>
            {% if teams %}
              <li>
                <a href="#">Teams</a>
                <ul>
                  {% for team in teams %}
                  <li>
                    <a {% if team == selected %}class="selected"{% endif %} href="{{ url_for('status.team', slug=team.slug) }}">
                    {{ team.name }}
                    </a>
                  </li>
                  {% endfor %}
                </ul>
              </li>
            {% endif %}
            <li>
              <a href="#">Projects</a>
              <ul>
                {% for project in projects %}
                <li>
                    <a {% if project == selected %}class="selected"{% endif %} href="{{ url_for('status.project', slug=project.slug) }}">
                    {{ project.name }}
                    </a>
                  </li>
                  {% endfor %}
                </ul>
              </li>
              <li>
                {% if not session['email'] %}
                  <a href="#" id="login">Sign in with Persona</a>
                {% else %}
                  <a href="#" id="user-menu"><img src="{{ session['email']|gravatar_url(size=22) }}" alt="{% if current_user %}{{ current_user.username }}{% else %}{{ session['email'] }}{% endif %}"></a>
                  <ul>
                    <li><a href="{{ url_for('status.profile') }}">Profile</a></li>
                    <li><a href="#" id="logout">Sign out</a></li>
                  </ul>
                {% endif %}
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </header>

    <div id="main-content" class="container_12 cf">
      <div id="main-notices" class="grid_12">
        {% block notices %}{% endblock %}
      </div>

      {% if session['email'] %}
        <div id="statusize">
          <form action="{{ url_for('status.statusize') }}" method="POST">
            <div class="grid_4 alpha"></div>
            <div class="grid_7 middle">
              <textarea name="message" placeholder="What's your status?"></textarea>
              <input type="hidden" name="redirect_to" value="{{ request.url }}" />
              <input type="hidden" name="project" value="{{ project.id if project else '' }}" />
            </div>
            <div class="grid_1 omega">
              <img class="gravatar" src="{{ session['email']|gravatar_url(size=60) }}">
              <input type="submit" class="btn" value="Post"/>
            </div>
          </form>
        </div>
      {% endif %}

      {% block content %}{% endblock %}
    </div>

    <footer>
      <div class="container_12 cf">
        <div class="grid_1">
          <img src="{{ url_for('static', filename='img/logo-grey.png') }}" alt="">
        </div>
        <div class="grid_5">
          Standup is a neat little app that helps to organize and publish
          asynchronous status updates.
        </div>
        <div class="grid_6">
          <nav>
            <ul>
              <li><a href="{{ url_for('landings.help') }}">Help &amp; FAQ</a></li>
              <li><a href="https://github.com/rlr/standup/issues">Report a bug</a></li>
              <li><a href="https://github.com/rlr/standup">Contribute</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </footer>
  </div>
</body>
</html>
