{% from 'includes/macros.html' import status_updates %}

{% extends "base.html" %}

{% block title %}
  Profile | @{{ user.username }} | Standup
{% endblock %}

{% block content %}
  <div class="grid_12">
    <div class="grid_8 push_4">
      <dl>
        <dt>username:</dt>
        <dd>{{ user.username }}</dd>

        <dt>name:</dt>
        <dd>{{ user.name }}</dd>

        <dt>email:</dt>
        <dd>{{ user.email }}</dd>

        <dt>github_handle:</dt>
        <dd>{{ user.github_handle }}</dd>

        <dt>teams:</dt>
        <dd>
          {% if user.team %}
            <a href="{{ url_for('team', slug=user.team.slug) }}">{{ user.team.name }}</a>
          {% else %}
            Not on a team.
          {% endif %}
        </dd>
      </dl>
    </div>
  </div>
  <div class="grid_12">
    {{ status_updates(statuses, page, url=url_for('user', slug=user.username)) }}
  </div>
{% endblock %}
