{% extends "base.html" %}

{% block title %}
  {{ project.name }} standups
{% endblock %}

{% block content %}
  <h1>{{ project.name }} Standups</h1>

  <h2>Statuses</h2>
  {% for status in statuses %}
    {% if status.created.date() != last_created %}
      {% if last_created %}</ul>{% endif %}
      {% set last_created = status.created.date() %}
      {{ last_created }}
      <ul>
    {% endif %}
    <li>
      <a href="{{ url_for('user', slug=status.user.slug) }}">
        {{ status.irc_handle }}
      </a>:
      {{ status.content_html }}
      <em>{{ status.created }}</em>
    </li>
  {% endfor %}
  {% if statuses %}</ul>{% endif %}
{% endblock %}
