{% from 'includes/macros.html' import teams_menu, users_menu, show_statuses, user_banner %}

{% extends "base.html" %}

{% block title %}
  {{ team.name }} statuses
{% endblock %}

{% block content %}
  <div class="grid_3">
    {{ users_menu(users) }}
    {{ teams_menu(teams, team) }}
  </div>
  <div class="grid_5">
    {% for user in users %}
      {{ user_banner(user) }}
      {% set statuses = user.recent_statuses() %}
      {{ show_statuses(statuses, show_user=False) }}
    {% endfor %}
  </div>
{% endblock %}
