{% extends "base.html" %}

{% block title %}
  {{ user.name }}'s standups
{% endblock %}

{% block content %}
  <h1>{{ user.name }}'s Standups</h1>

  <h2>Statuses</h2>
  {% for status in statuses %}
    {% if status.created.date() != last_created %}
      {% if last_created %}</ul>{% endif %}
      {% set last_created = status.created.date() %}
      {{ last_created }}
      <ul>
    {% endif %}
    <li>
      [<a href="{{ url_for('project', slug=status.project.slug) }}">{{ status.project.name }}</a>]
      {{ status.content_html }}
      <em>{{ status.created }}</em>
    </li>
  {% endfor %}
  {% if statuses %}</ul>{% endif %}
{% endblock %}
