{% from 'includes/macros.html' import status_updates %}

{% extends "base.html" %}

{% block title %}
  @{{ user.username }} | {{ config.SITE_TITLE }}
{% endblock %}

{% block content %}
  <div class="grid_12">
    {{ status_updates(statuses, page, url=url_for('status.user', slug=user.username)) }}
  </div>
{% endblock %}

{% block atom_feed %}
  <link rel="alternate" type="application/atom+xml" href="{{ config.SITE_URL + url_for('status.user_feed', slug=user.slug) }}" title="{{ config.SITE_TITLE }} Feed for {{ user.username }}" />
{% endblock atom_feed %}
