{% extends "base.html" %}

{% block title %}
  {{ user.name }}'s standups
{% endblock %}

{% block content %}
  <h1>{{ user.name }}'s Standups</h1>

  <h2>Statuses</h2>
  <table cellpadding="3">
    <tr>
      <th>Created</th>
      <th>User</th>
      <th>Status</th>
    </tr>
    {% for status in statuses %}
      <tr>
        <td>{{ status.created }}</td>
        <td>
          <a href="{{ url_for('project', slug=status.project.slug) }}">
            {{ status.project.name }}
          </a>
        </td>
        <td>{{ status.content_html }}</td>
      </tr>
    {% endfor %}
  </table>
{% endblock %}
