{% from 'includes/macros.html' import statusize with context %}
<!doctype html>
<html class="no-js">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <title>{% block title %}{{ settings.SITE_TITLE }}{% endblock %}</title>
  <meta name="description" content="Daily standup updates for your projects.">
  <link rel="icon" type="image/png" href="{{ static('img/favicon.png') }}" />
  {% stylesheet 'common' %}
  {% block more_styles %}{% endblock %}
  <link rel="alternate" type="application/atom+xml" href="{{ url('status.index_feed') }}" title="{{ settings.SITE_TITLE }} Feed" />
  {% block atom_feed %}{% endblock atom_feed %}
  <script src="https://login.persona.org/include.js"></script>
  {% javascript 'modernizr' %}
</head>
<body>
  {{ browserid_info() }}
  <div class="page">
  <header>
    <div class="container_12">
      <div class="grid_2">
        <a class="logo" href="{{ url('status.index') }}">{{ settings.SITE_TITLE }}</a>
      </div>
      <div class="grid_10">
        <nav>
          <ul>
            {% if teams %}
              <li>
                <a href="#" class="dropdown">Teams</a>
                <ul>
                  {% for team in teams %}
                  <li>
                    <a {% if team == selected %}class="selected"{% endif %} href="{{ team.get_absolute_url() }}">
                    {{ team.name }}
                    </a>
                  </li>
                  {% endfor %}
                </ul>
              </li>
            {% endif %}
            {% if projects %}
              <li>
                <a href="#" class="dropdown">Projects</a>
                <ul>
                  {% for project in projects %}
                  <li>
                    <a {% if project == selected %}class="selected"{% endif %} href="{{ project.get_absolute_url() }}">
                    {{ project.name }}
                    </a>
                  </li>
                  {% endfor %}
                </ul>
              </li>
            {% endif %}
            {% if weeks %}
              <li>
                <a href="{{ url('status.weekly') }}" class="dropdown">Weekly</a>
                <ul>
                  {% for week in weeks %}
                  <li>
                    <a href="{{ url('status.weekly') }}?week={{ week.start_date.date()|dateformat('%Y-%m-%d') }}">
                     {{week.start_date.date()|dateformat('%b %d')}} to {{ week.end_date.date()|dateformat('%b %d %Y') }}
                    </a>
                  </li>
                  {% endfor %}
                </ul>
              </li>
            {% endif %}
              <li>
                {% if user.is_authenticated() %}
                  <a href="#" id="user-menu">{{ gravatar(user, 22) }}</a>
                  <ul>
                    <li><a href="{{ url('users.profile') }}">Profile</a></li>
                    <li>{{ browserid_logout(text='Sign out') }}</li>
                  </ul>
                {% else %}
                  <a href="{{ url('users.login') }}">Sign in</a>
                {% endif %}
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </header>

    <div id="main-content" class="container_12 cf">
      <div id="main-notices" class="grid_12">
        {% if messages %}
          {% for message in messages %}
            <div class="notice {{ message.tags }}">{{ message }}</div>
          {% endfor %}
        {% endif %}
        {% block notices %}
          {% if user.is_authenticated() and not backends.associated %}
            <div class="notice warn">Persona auth will soon be unavailable. Please <a href="{{ url('social:begin', 'github') }}">associate a Github account</a> as soon as possible.</div>
          {% endif %}
          <div class="notice success">Welcome to Standup v2! We rewrote it and pushed it out on September 23rd. If you have any problems, see <a href="https://wiki.mozilla.org/Standup">the Standup wiki page</a> for help.</div>
        {% endblock %}
      </div>
      {% block before_content %}
        {% if user.is_authenticated() %}
          {{ statusize() }}
        {% endif %}
      {% endblock %}
      {% block content %}{% endblock %}
      {% block after_content %}{% endblock %}
    </div>

    <footer>
      <div class="container_12 cf">
        <div class="grid_1">
          <img src="{{ static('img/logo-grey.png') }}" alt="">
        </div>
        <div class="grid_5">
          Standup is a neat little app that helps to organize and publish
          asynchronous status updates.
        </div>
        <div class="grid_6">
          <nav>
            <ul>
              {% if settings.HELP_FAQ_URL %}
                <li><a href="{{ settings.HELP_FAQ_URL }}">Help &amp; FAQ</a></li>
              {% endif %}
              <li><a href="https://github.com/mozilla/standup/issues">Report a bug</a></li>
              <li><a href="https://github.com/mozilla/standup">Contribute</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </footer>
  </div>
  {% javascript 'common' %}
  {% javascript 'browserid' %}
</body>
</html>
