<!doctype html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <title>{% block title %}{% endblock %}</title>
  <meta name="description" content="Daily standup updates for your projects.">
  <link rel="icon" type="image/png" href="{{ static('img/favicon.png') }}" />
</head>
<body>
  <header>
    <a class="logo" href="{{ url('home-view') }}">{{ settings.SITE_TITLE }}</a>
    <nav>
      <ul>
        <li>TEAMS</li>
        <li>PROJECTS</li>
        <li>WEEKLY</li>
        <li>SIGN-IN</li>
      </ul>
    </nav>
  </header>

  <div id="main-content">
    {% block before_content %}{% endblock %}
    {% block content %}{% endblock %}
    {% block after_content %}{% endblock %}
  </div>

  <footer>
    <img src="{{ static('img/logo-grey.png') }}" alt="">
    <div>
      Standup is a neat little app that helps to organize and publish
      asynchronous status updates.
    </div>
    <div>
      <nav>
        <ul>
          <li><a href="FIXME">Help &amp; FAQ</a></li>
          <li><a href="https://github.com/mozilla/standup/issues">Report a bug</a></li>
          <li><a href="https://github.com/mozilla/standup">Contribute</a></li>
        </ul>
      </nav>
    </div>
  </footer>
</body>
</html>
