{% macro comments(status, url='/') %}
  {% set statuses=status.replies() %}
  {% if statuses %}
    <ul class="comments cf">
      {% for status in statuses %}
        <li class="cf">
          {{ status.content }}
          <div class="meta">
            <a href="{{ status.user.get_absolute_url() }}">
              {% if status.user.email %}{{ gravatar(status.user.email, 22) }}{% else %}{{ gravatar('None', 60) }}{% endif %}
            </a>
            <a href="{{ status.user.get_absolute_url() }}">{{ status.user.name }} (@{{ status.user.username }})</a>
            {{ status.created|dateformat('%A, {S} %B %Y at %-I:%M %p') }}
          </div>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <div class="notice">There are no comments.</div>
  {% endif %}
{% endmacro %}

{% macro begin_user_statuses(status) %}
  <div class="status-block cf">
    <div class="user-meta grid_3 alpha">
      <h4><a href="{{ status.user.get_absolute_url() }}">{{ status.user.name }}</a></h4>
      <a href="{{ status.user.get_absolute_url() }}">@{{ status.user.username }}</a>
    </div>
    <div class="grid_1">
      <a href="{{ status.user.get_absolute_url() }}">
        {% if status.user.email %}{{ gravatar(status.user.email, 60) }}{% else %}{{ gravatar('None', 60) }}{% endif %}
      </a>
    </div>
    <div class="grid_8 omega">
      <ul class="bubble">
{% endmacro %}

{% macro end_user_statuses(status) %}
      </ul>
    </div>
  </div>
{% endmacro %}

{% macro display_one_status(status, include_day=False) %}
  <li class="cf">
    <div class="update">{{ status.content|format_update(status.project)|safe|urlize(trim_url_limit=32)|markdown }}</div>
    <div class="update-meta">
      <a class="post-time" href="{{ status.get_absolute_url() }}">
        <div datetime="{{ status.created|dateformat('%Y-%m-%dT%H:%M:%SZ') }}">
          {% if include_day %}
            {{ status.created|dateformat('%a %-I:%M %p') }}
          {% else %}
            {{ status.created|dateformat('%-I:%M %p') }}
          {% endif %}
        </div>
      </a>

      <a href="{{ status.get_absolute_url() }}" class="comment-count">{{ status.replies()|length }}</a>

      {% if status.project %}
        <a class="project-name"
           style="{% if status.project.color %}background-color: #{{ status.project.color }}; color: #{{ status.project.color }};{% endif %}"
           href="{{ status.project.get_absolute_url() }}">
          {{ status.project.name }}
        </a>
      {% endif %}
    </div>
  </li>
{% endmacro %}

{% macro end_of_statuses(url, statuses) %}
  {% if not statuses %}
    <div class="notice">No status updates available.</div>
  {% endif %}
  {% if statuses.has_previous() or statuses.has_next() %}
    <div class="grid_8 prefix_4 pagination cf">
      {% if statuses.has_previous() %}
        <a class="btn big prev" href="?{{ merge_query(request, page=statuses.previous_page_number()) }}">Newer &raquo;</a>
      {% endif %}
      {% if statuses.has_next() %}
        <a class="btn big next" href="?{{ merge_query(request, page=statuses.next_page_number()) }}">&laquo; Older</a>
      {% endif %}
    </div>
  {% endif %}
{% endmacro %}

{% macro status_updates(statuses, url='/') %}
  {% for status in statuses %}
    {% if (status.user.username != last_user or last_date != status.created.date()) and not loop.first %}
      {{ end_user_statuses(status) }}
    {% endif %}

    {% if last_date != status.created.date() %}
      {% set last_date = status.created.date() %}
      {% set last_user = None %}
      <div class="grid_8 alpha omega prefix_4">
        <h3>
          <a href="?day={{ status.created.date()|dateformat('%Y-%m-%d') }}">
            {% if status.created.date() == today %}
              Today
            {% elif status.created.date() == yesterday %}
              Yesterday
            {% else %}
              {{ status.created.date()|dateformat('%A, {S} %B %Y') }}
            {% endif %}
          </a>
        </h3>
      </div>
    {% endif %}

    {% if status.user.username != last_user %}
      {% set last_user = status.user.username %}
      {{ begin_user_statuses(status) }}
    {% endif %}
    {{ display_one_status(status) }}
    {% if loop.last %}
      {{ end_user_statuses(status) }}
    {% endif %}
  {% endfor %}
  {{ end_of_statuses(url, statuses) }}
{% endmacro %}

{% macro weekly_updates(statuses, url='/weekly') %}
  {% for status in statuses %}
    {% if (status.user.username != last_user or last_date != status.week_start.date()) and not loop.first %}
      {{ end_user_statuses(status) }}
    {% endif %}

    {% if last_date != status.week_start.date() %}
      {% set last_date = status.week_start.date() %}
      {% set last_user = None %}
      <div class="grid_8 alpha omega prefix_4">
        <h3>
          <a href="?week={{ status.week_start.date()|dateformat('%Y-%m-%d') }}">
              Week of {{ status.week_start.date()|dateformat('%A, {S} %B %Y') }} to {{ status.week_end.date()|dateformat('%A, {S} %B %Y') }}
          </a>
        </h3>
      </div>
    {% endif %}

    {% if status.user.username != last_user %}
      {% set last_user = status.user.username %}
      {{ begin_user_statuses(status) }}
    {% endif %}
    {{ display_one_status(status, True) }}
    {% if loop.last %}
      {{ end_user_statuses(status) }}
    {% endif %}
  {% endfor %}
  {{ end_of_statuses(url, statuses) }}
{% endmacro %}

{% macro statusize() %}
  <div id="statusize">
    <form action="{{ url('status.statusize') }}" method="POST">
      {% csrf_token %}
      <div class="grid_4 alpha"></div>
      <div class="grid_7 middle">
        <textarea name="content" placeholder="What's your status?"></textarea>
        <input type="hidden" name="redirect_to" value="{{ request.get_full_path() }}" />
        {% if project %}
          <input type="hidden" name="project" value="{{ project.id }}" />
        {% endif %}
        <input type="hidden" name="user" value="{{ user.profile.id }}" />
      </div>
      <div class="grid_1 omega">
        {{ gravatar(user, 60) }}
        <input type="submit" class="btn" value="Post"/>
      </div>
    </form>
  </div>
{% endmacro %}
